<div class="box d-flex  flex-md-row flex-column">
    <div class="main">
        <div class="navbar logo mt-md-3">
            <a routerLink="/landing"><img src="../../../assets/images/Logo.svg" alt=""></a>
            <a class="back" routerLink="/search-page-not">&lt; Back to campgrounds</a>
        </div>
        <div class="center-content">
            <h3 class="heading">Start exploring camps from all around the world.</h3>
            <form id="form" class="d-flex flex-column" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <label for="username">Username</label>
                <input type="text" formControlName="Username" class="form-control"
                    [ngClass]="{'is-invalid':submitted && registerForm.controls['Username'].errors}" name="username"
                    id="username" placeholder="rahul">
                <div *ngIf="submitted && registerForm.controls['Username'].errors " class="text-danger">
                    <div *ngIf="submitted && registerForm.controls['Username'].errors['required']">
                        Username is required
                    </div>
                </div>

                <label for="password">Password</label>
                <input type="password" formControlName="Password" class="form-control"
                    [ngClass]="{'is-invalid':submitted && registerForm.controls['Password'].errors}" name="password"
                    id="password" placeholder="Enter Your Password">
                <div *ngIf="submitted && registerForm.controls['Password'].errors " class="text-danger">
                    <div *ngIf="submitted && registerForm.controls['Password'].errors['required']">
                        Password is required
                    </div>
                </div>
                <button type="submit" class="btn btn-dark mb-2">Login</button>
            </form>
            <p>Not a user yet? <a routerLink="/signup">Create an account</a></p>

        </div>
    </div>
    <div class="side-image">
        <h3 class="mb-3">"YelpCamp has honestly saved me hours of research time, and the camps on here are definitely
            well picked
            and added."</h3>
        <div class="writer d-flex align-items-center">
            <img class="me-2" src="../../../assets/images/User Testimonial.svg" alt="">
            <div class="name">
                <p>May Andrews</p>
                <p>Professional Hiker</p>
            </div>

        </div>
    </div>
</div>