<div class="box d-flex justify-content-between">
    <div class="main">
        <div class="navbar logo mt-xl-3 mb-lg-5">
            <a href="/home/index.html"><img class="img-fluid" src="../../../assets/images/Logo.svg" alt=""></a>
            <img class="hemberger d-none" src="../../../assets/images/Hamburger Menu.svg" alt="">
        </div>
        <div class="center-content">
            <h3 class=" heading fw-bold">Explore the best camps on Earth.</h3>
            <p>YelpCamp is a curated list of the best camping spots on Earth.Unfiltered and unbiased reviews.</p>
            <ul>
                <li><img src="../../../assets/images/bullet.svg" alt="bullet"> Add your own camp suggestion.</li>
                <li><img src="../../../assets/images/bullet.svg" alt="bullet">Leave reviews and experiences.</li>
                <li><img src="../../../assets/images/bullet.svg" alt="bullet">See locations for all camps.</li>
            </ul>
            <button id="campgroundBtn" class="btn btn-dark p-2 mt-2 mb-3" routerLink="/search-page-not">View
                campgrounds</button>
        </div>
        <div class="partners">
            <p>partnered with:</p>
            <div class="partner-img">
                <img src="../../../assets/images/Airbnb.svg" alt="Airbnb">
                <img src="../../../assets/images/Booking.svg" alt="Booking">
                <img src="../../../assets/images/Plum Guide.svg" alt="Plum Guide">
            </div>

        </div>

    </div>
    <div class="side-image">
        <img class="desktop-img img-fluid vh-100 w-100" src="../../../assets/images/Hero Image.jpg" alt="exploring">
        <img class="tablet-img img-fluid " src="../../../assets/images/Hero Image (Tablet and Mobile).jpg"
            alt="exploring">
    </div>
</div>